.container-account{
    position: relative;
}
.container-account:hover{
    cursor: pointer;
}
.container-account:hover ul{
    display: block
}
.container-account ul{
    display: none;
    border: 1px solid #d2d2d2;
    position: absolute;
    top: 100%;
    left: 10px;
    width: 200px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding: 10px 0px;
}
.container-account ul li{
    list-style: none;
}
.container-account ul li a:hover{
    cursor: pointer;
    font-weight:bold;
}